/*
#top {
    position: relative;
    background-color: #ffcad4;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border:1px solid #886b71;
}

#bottom {
    position: relative;
    background-color: #ffcad4;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    border:1px solid #886b71;
}

#left {
    float: left;
    background-color: #ffcad4;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    border:1px solid #886b71;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    border:1px solid #886b71;
}

.top_right{
    position: absolute;
    top: 0px;
    right: 0px;
}
.center_content {
    position: relative;
    background-color: #ffcad4;
    padding: 5px;
}

.left_content {
    background-color: #ffcad4;
    border-radius: 10px;
    padding: 5px;
    margin-left: 170px;
    border:1px solid #886b71;
}

.right_content {
    background-color: #ffcad4;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}*/

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#top {
    background-color: #ffcad4;
    border-radius: 4px;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border:1px solid #886b71;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}
#bottom {
    background-color: #ffcad4;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    border:1px solid #886b71;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}
#left {
    background-color: #ffcad4;
    border-radius: 4px;
    padding: 5px;
    border:1px solid #886b71;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#content {
    background-color: #f8f5f5;
    border-radius: 4px;
    padding: 20px;
    margin-left: 10px;
    border:1px solid #886b71;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    overflow: auto;
}
